{% extends "base.html" %}
{% load markdown_extras %}
{% load gmaps_extras %}
{% block title %}{{ cave.name }} - {{ cave.region }}{% endblock %}
{% block description %}Details on the length and depth of {{ cave.name }} beneath {{ cave.location }} in {{ cave.region }}.{% endblock %}
{% block content %}

<h1 class="mb-0 display-4"><span class="text-muted">{{ type|capfirst }}:</span> {{ cave.name }}</h1>

<!-- Breadcrumbs start -->
<span class="fw-light mt-0 text-muted">
  <a href="{% url 'db:index' %}" class="text-muted">{{ cave.country }}</a>
  &rarr; <a href="{% url 'db:region' cave.region.slug %}" class="text-muted">{{ cave.region.name }}</a>
  &rarr; <a href="{% url 'db:search' %}?terms={{ cave.location|urlencode }}" class="text-muted">{{ cave.location }}</a>

  {% if type == "cave" and cave.system %}
  &rarr; <a href="{% url 'db:system' cave.system.slug %}" class="text-muted">{{ cave.system.name }}</a>
  {% endif %}
</span>
<!-- Breadcrumbs end -->

<br /><br />

<!-- Description start -->
{% if cave.description %}
{{ cave.description | markdown | safe }}<br />
{% endif %}
<!-- Description end -->

<!-- Datasheet start -->
<div class="table-responsive">
  <table class="table table-bordered">
    <thead>
      <tr class="table-title text-center">
        <th colspan="2" scope="col">{{ cave.name }} - Datasheet</th>
      </tr>
    </thead>

    <tbody>
      <tr>
        <th scope="row">Name</th>
        <td>{{ cave.name }}</td>
      </tr>

      {% if type == "cave" %}

      <tr>
        <th scope="row">Cave system</th>
        {% if cave.system %}
        <td><a class="text-muted" href="{% url 'db:system' cave.system.slug %}">{{ cave.system.name }}</a></td>
        {% else %}
        <td>Not recorded</td>
        {% endif %}
      </tr>

      {% elif type == "system" %}

      <tr>
        <th scope="row">Caves in system</th>
        {% if cave.number_of_caves > 0 %}
        <td>{{ cave.number_of_caves }} recorded on CaveDB - see table below</td>
        {% else %}
        <td>None recorded on CaveDB</td>
        {% endif %}
      </tr>

      {% endif %}

      <tr class="table-title text-center">
        <th scope="row" colspan="2">Location</th>
      </tr>

      <tr>
        <th scope="row">Country</th>
        <td>{{ cave.country }}</td>
      </tr>

      <tr>
        <th scope="row">Region</th>
        <td><a href="{% url 'db:region' cave.region.slug %}" class="text-muted">{{ cave.region.name }}</a></td>
      </tr>

      <tr>
        <th scope="row">Location</th>
        <td><a href="{% url 'db:search' %}?terms={{ cave.location|urlencode }}" class="text-muted">{{ cave.location }}</a></td>
      </tr>

      <tr>
        <th scope="row">{{ type|capfirst }} coordinates</th>
        {% if cave.latitude and cave.longitude %}
        <td>
          {{ cave.latitude }}, {{ cave.longitude }}
          <a class="text-muted" href="{{ cave|gmaps }}"><i class="fa-solid fa-map-location-dot"></i></a>
        </td>
        {% else %}
        <td>Not recorded</td>
        {% endif %}
      </tr>

      <tr class="text-center table-title">
        <th scope="row" colspan="2">Length and Depth</th>
      </tr>

      <tr>
        <th scope="row">Length (km)</th>
        <td>{{ cave.length|default:"Not recorded" }}</td>
      </tr>

      <tr>
        <th scope="row">Depth (m)</th>
        <td>{{ cave.depth|default:"Not recorded" }}</td>
      </tr>

      <tr class="table-title text-center">
        <th scope="row" colspan="2">External Resources</th>
      </tr>

      <tr>
        <th scope="row">Organisation</th>
        <td>
          {{ cave.organisation|default:"Not recorded" }}
          {% if cave.organisation.website %}
          <a class="text-muted" href="{{ cave.organisation.website }}"><i class="fa-solid fa-arrow-up-right-from-square"></i></a>
          {% endif %}
        </td>
      </tr>

      <tr>
        <th scope="row">{{ type|capfirst }} website</th>
        {% if cave.website %}
        <td><a class="text-muted" href="{{ cave.website }}">{{ cave.website }}</a></td>
        {% else %}
        <td>Not recorded</td>
        {% endif %}
      </tr>

      <tr>
        <th scope="row">Wikipedia link</th>
        {% if cave.wikipedia %}
        <td><a class="text-muted" href="{{ cave.wikipedia }}">{{ cave.wikipedia }}</a></td>
        {% else %}
        <td>Not recorded</td>
        {% endif %}
      </tr>

      <tr>
        <th scope="row">Further resources</th>
        <td>{{ cave.resources | markdown | safe | default:"Not recorded"}}</td>
      </tr>

      <tr class="text-center table-title">
        <th scope="row" colspan="2">Database</th>
      </tr>

      <tr>
        <th scope="row">References</th>
        <td>{{ cave.references | markdown | safe | default:"Not recorded"}}</td>
      </tr>

      <tr>
        <th scope="row">Added to database</th>
        <td>{{ cave.added_on | date:"l, jS F Y, H:i e" }}</td>
      </tr>

      <tr>
        <th scope="row">Last updated</th>
        <td>{{ cave.updated_on | date:"l, jS F Y, H:i e" }}</td>
      </tr>

      {% if type == "system" %}
      <!-- Caves in system start -->
      {% if cave.number_of_caves > 0 %}
      <tr class="text-center table-title">
        <th scope="row" colspan="2">Caves in System</th>
      </tr>

      {% for subcave in cave.cave_set.all %}
      <tr>
        <td>{{ forloop.counter }}</td>
        <td>
          <a class="text-muted" href="{% url 'db:cave' subcave.slug %}">{{ subcave.name }}</a>
          <span class="text-muted">({{ subcave.location }} / {{ subcave.region.name }})</span>
        </td>
      </tr>
      {% endfor %}
      {% endif %}
      <!-- Caves in system end -->
      {% endif %}

    </tbody>
  </table>
</div>
<!-- Datasheet end -->

{% endblock %}
