{% extends "base.html" %}
{% load markdown_extras %}
{% load gmaps_extras %}

{% block title %}Caves in {{ country }}{% endblock %}
{% block description %}A list of caves recorded in {{ country }}.{% endblock %}

{% block content %}
<!-- Header start -->
<h1 class="mb-0 display-4"><span class="text-muted">Country:</span> {{ country }}</h1>
<!-- Header end -->

{% if no_caves %}
<p class="lead">Sorry, this country currently has no caves or cave systems stored within the database.</p>
{% else %}
<br />
<!-- Datasheet start -->
{% if systems %}
<!-- System list start -->
<div class="table-responsive">
  <table id="systemList" class="table text-center">
    <thead>
      <tr>
        <th scope="col" class="text-center" colspan="9">Cave Systems in {{ country }}</th>
      </tr>

      <tr data-sort-method="thead">
        <th scope="col">#</th>
        <th scope="col">Name</th>
        <th scope="col">Region</th>
        <th scope="col" data-sort-method="number">Caves</th>
        <th scope="col" data-sort-method="number">Length (km)</th>
        <th scope="col" data-sort-method="number">Depth (m)</th>
        <th scope="col">Organisation</th>
        <th scope="col">Website</th>
        <th scope="col">Wikipedia</th>
      </tr>
    </thead>

    <tbody>

      {% for cave in systems|dictsort:"region.name" %}
      <tr>

        <th scope="row">{{ forloop.counter }}</th>
        <td><a class="text-muted" href="{% url 'db:system' cave.slug %}">{{ cave.name }}</a></td>
        <td><a href="{% url 'db:region' cave.region.slug %}" class="text-muted">{{ cave.region.name }}</a></td>
        <td>{{ cave.number_of_caves }}</td>
        <td>{{ cave.length|floatformat:"-3"|default:"-" }}</td>
        <td>{{ cave.depth|floatformat:"-3"|default:"-" }}</td>

        {% if cave.organisation.website %}
        <td>{{ cave.organisation.abbreviation }} <a href="{{ cave.organisation.website }}" class="text-muted"><i class="fa-solid fa-arrow-up-right-from-square"></i></a></td>
        {% else %}
        <td>{{ cave.organisation.abbreviation|default:"-" }}</td>
        {% endif %}

        {% if cave.website %}
        <td><a href="{{ cave.website }}" class="text-muted"><i class="fa-solid fa-link"></i></a></td>
        {% else %}
        <td>-</td>
        {% endif %}

        {% if cave.wikipedia %}
        <td><a href="{{ cave.wikipedia }}" class="text-muted"><i class="fa-brands fa-wikipedia-w"></i></a></td>
        {% else %}
        <td>-</td>
        {% endif %}

      </tr>
      {% endfor %}

    </tbody>
  </table>
</div><br />
<!-- System list end -->
{% endif %}

<!-- Cave list start -->
{% if caves %}
<div class="table-responsive">
  <table id="caveList" class="table text-center">
    <thead>
      <tr>
        <th scope="col" class="text-center" colspan="9">Caves in {{ country }}</th>
      </tr>

      <tr data-sort-method="thead">
        <th scope="col">#</th>
        <th scope="col">Name</th>
        <th scope="col">Region</th>
        <th scope="col">System</th>
        <th scope="col" data-sort-method="number">Length (km)</th>
        <th scope="col" data-sort-method="number">Depth (m)</th>
        <th scope="col">Organisation</th>
        <th scope="col">Website</th>
        <th scope="col">Wikipedia</th>
      </tr>
    </thead>

    <tbody>

      {% for cave in caves|dictsort:"region.name" %}
      <tr>

        <th scope="row">{{ forloop.counter }}</th>
        <td><a class="text-muted" href="{% url 'db:cave' cave.slug %}">{{ cave.name }}</a></td>
        <td><a href="{% url 'db:region' cave.region.slug %}" class="text-muted">{{ cave.region.name }}</a></td>

        {% if cave.system %}
        <td><a href="{% url 'db:system' cave.system.slug %}" class="text-muted">{{ cave.system.name }}</a></td>
        {% else %}
        <td>-</td>
        {% endif %}

        <td>{{ cave.length|floatformat:"-3"|default:"-" }}</td>
        <td>{{ cave.depth|floatformat:"-3"|default:"-" }}</td>

        {% if cave.organisation.website %}
        <td>{{ cave.organisation.abbreviation }} <a href="{{ cave.organisation.website }}" class="text-muted"><i class="fa-solid fa-arrow-up-right-from-square"></i></a></td>
        {% else %}
        <td>{{ cave.organisation.abbreviation|default:"-" }}</td>
        {% endif %}

        {% if cave.website %}
        <td><a href="{{ cave.website }}" class="text-muted"><i class="fa-solid fa-link"></i></a></td>
        {% else %}
        <td>-</td>
        {% endif %}

        {% if cave.wikipedia %}
        <td><a href="{{ cave.wikipedia }}" class="text-muted"><i class="fa-brands fa-wikipedia-w"></i></a></td>
        {% else %}
        <td>-</td>
        {% endif %}

      </tr>
      {% endfor %}

    </tbody>
  </table>
</div>
<!-- Cave list end -->
{% endif %}
<!-- Datasheet end -->
{% endif %}

{% endblock %}

{% block footer_scripts %}
{% if caves or systems %}
<!-- Enable tablesort -->
<script>
  {% if caves %}new Tablesort(document.getElementById('caveList'));{% endif %}
  {% if systems %}new Tablesort(document.getElementById('systemList'));{% endif %}
</script>
{% endif %}
{% endblock %}
