{% extends "base.html" %}

{% block title %}
{% if terms %}
Search for {{ terms }}
{% else %}
CaveDB: Search
{% endif %}
{% endblock %}

{% block description %}
{% if terms %}
Search results for &ldquo;{{ terms }}&rdquo; on CaveDB.
{% else %}
Search for caves and cave systems on CaveDB.
{% endif %}
{% endblock %}

{% block content %}
{% if error %}
<!-- Error message -->
<div class="alert alert-danger">{{ error }}</div>
{% endif %}

<!-- Header start -->
<h1 class="mb-0 display-4"><span class="text-muted">Search{% if terms %}:{% endif %}</span>{% if terms %} {{ terms }}{% endif %}</h1>
<span class="fw-light mt-0 text-muted">{{ number_of_results }} results on CaveDB</span>
<br /><br />
<!-- Header end -->

{% if results %}
<!-- Results table start -->
<div class="table-responsive">
  <table id="resultsList" class="table text-center">
    <thead>
      <tr>
        <th scope="col" class="text-center" colspan="10">Search results for &ldquo;{{ terms }}&rdquo;</th>
      </tr>

      <tr data-sort-method="thead">
        <th scope="col">#</th>
        <th scope="col">Name</th>
        <th scope="col">Type</th>
        <th scope="col">Region</th>
        <th scope="col">Location</th>
        <th scope="col" data-sort-method="number">Length (km)</th>
        <th scope="col" data-sort-method="number">Depth (m)</th>
        <th scope="col">Organisation</th>
        <th scope="col">Website</th>
        <th scope="col">Wikipedia</th>
      </tr>
    </thead>

    <tbody>

      {% for cave in results %}
      <tr>

        <th scope="row">{{ forloop.counter }}</th>
        <td><a class="text-muted" href="{{ cave.url }}">{{ cave.name }}</a></td>
        <td>{{ cave.type }}</td>
        <td class="text-muted">
          <a href="{% url 'db:country' cave.country.slug %}" class="text-muted">{{ cave.country.name }}</a> /
          <a href="{% url 'db:region' cave.region.slug %}" class="text-muted">{{ cave.region.name }}</a>
        </td>
        <td><a href="{% url 'db:search' %}?terms={{ cave.location|urlencode }}" class="text-muted">{{ cave.location }}</a></td>
        <td>{{ cave.length|floatformat:"-3"|default:"-" }}</td>
        <td>{{ cave.depth|floatformat:"-3"|default:"-" }}</td>

        {% if cave.organisation.website %}
        <td>{{ cave.organisation.abbreviation }} <a class="text-muted" href="{{ cave.organisation.website }}"><i class="fa-solid fa-arrow-up-right-from-square"></i></a></td>
        {% else %}
        <td>{{ cave.organisation.abbreviation|default:"-" }}</td>
        {% endif %}

        {% if cave.website %}
        <td><a href="{{ cave.website }}" class="text-muted"><i class="fa-solid fa-link"></i></a></td>
        {% else %}
        <td>-</td>
        {% endif %}

        {% if cave.wikipedia %}
        <td><a href="{{ cave.wikipedia }}" class="text-muted"><i class="fa-brands fa-wikipedia-w"></i></a></td>
        {% else %}
        <td>-</td>
        {% endif %}

      </tr>
      {% endfor %}

    </tbody>
  </table>
</div>
<!-- Results table end -->
{% else %}

<p class="lead">I'm sorry, there were no results for the specified query.</p>

{% endif %}
{% endblock %}

{% block footer_scripts %}
{% if results %}
<!-- Enable tablesort -->
<script>
  new Tablesort(document.getElementById('resultsList'));
</script>
{% endif %}
{% endblock %}
