{% extends "base.html" %}
{% load markdown_extras %}
{% block title %}{{ system.name }} ({{ system.location }}) - {{ system.region }}{% endblock %}
{% block description %}Details on the length and depth of {{ system.name }} beneath {{ system.location }} in {{ system.region }}.{% endblock %}
{% block content %}

<h1 class="mb-0 display-4"><span class="text-muted">System:</span> {{ system.name }}</h1>
<span class="fw-light mt-0 text-muted">{{ system.country }} &rarr; {{ system.region.name }} &rarr; {{ system.location }}</span>
<br /><br />

{% if system.description %}
{{ system.description | markdown | safe }}<br />
{% endif %}

<table class="table table-bordered">
  <thead>
    <tr>
      <th colspan="2" scope="col" class="text-center table-title">{{ system.name }} - Datasheet</th>
    </tr>
  </thead>

  <tbody>
    <tr>
      <th scope="row">Name</th>
      <td>{{ system.name }}</td>
    </tr>

    <tr>
      <th scope="row">Caves in system</th>
      {% if system.number_of_caves > 0 %}
      <td>{{ system.number_of_caves }} recorded on CaveDB - see table below</td>
      {% else %}
      <td>None recorded on CaveDB</td>
      {% endif %}
    </tr>

    <tr>
      <th scope="row" colspan="2" class="text-center table-title">Location</th>
    </tr>

    <tr>
      <th scope="row">Country</th>
      <td>{{ system.country }}</td>
    </tr>

    <tr>
      <th scope="row">Region</th>
      <td>{{ system.region.name }}</td>
    </tr>

    <tr>
      <th scope="row">Location</th>
      <td>{{ system.location }}</td>
    </tr>

    <tr>
      <th scope="row">System coordinates</th>
      {% if system.latitude and system.longitude %}
      <td>{{ system.latitude }}, {{ system.longitude }}</td>
      {% else %}
      <td>Not recorded</td>
      {% endif %}
    </tr>

    <tr>
      <th scope="row" colspan="2" class="text-center table-title">Length and Depth</th>
    </tr>

    <tr>
      <th scope="row">Length</th>
      {% if system.length %}
      <td>{{ system.length }}km</td>
      {% else %}
      <td>Not recorded</td>
      {% endif %}
    </tr>

    <tr>
      <th scope="row">Depth</th>
      {% if system.depth %}
      <td>{{ system.depth }}m</td>
      {% else %}
      <td>Not recorded</td>
      {% endif %}
    </tr>

    <tr>
      <th scope="row" colspan="2" class="text-center table-title">External Resources</th>
    </tr>

    <tr>
      <th scope="row">Organisation</th>
      {% if system.organisation %}
      <td>
        {{ system.organisation }}
        {% if system.organisation.website %}
        <a class="text-muted" href="{{ system.organisation.website }}">(web)</a>
        {% endif %}
      </td>
      {% else %}
      <td>Not recorded</td>
      {% endif %}
    </tr>

    <tr>
      <th scope="row">Cave website</th>
      {% if system.website %}
      <td><a class="text-muted" href="{{ system.website }}">{{ system.website }}</a></td>
      {% else %}
      <td>Not recorded</td>
      {% endif %}
    </tr>

    <tr>
      <th scope="row">Wikipedia link</th>
      {% if system.wikipedia %}
      <td><a class="text-muted" href="{{ system.wikipedia }}">{{ system.wikipedia }}</a></td>
      {% else %}
      <td>Not recorded</td>
      {% endif %}
    </tr>

    <tr>
      <th scope="row" colspan="2" class="text-center table-title">Database</th>
    </tr>

    <tr>
      <th scope="row">Added to database</th>
      <td>{{ system.added_on }}</td>
    </tr>

    <tr>
      <th scope="row">Last updated</th>
      <td>{{ system.updated_on }}</td>
    </tr>

    {% if system.number_of_caves > 0 %}
    <tr>
      <th scope="row" colspan="2" class="text-center table-title">Caves in System</th>
    </tr>

    {% for cave in system.cave_set.all %}
    <tr>
      <td>{{ forloop.counter }}</td>
      <td>
        <a class="text-muted" href="{% url 'db-cave' cave.slug %}">{{ cave.name }}</a>
        <span class="text-muted">({{ cave.location }} / {{ cave.region.name }})</span>
      </td>
    </tr>
    {% endfor %}
    {% endif %}

  </tbody>
</table>

{% endblock %}
